table.fold-table {
  > tbody {
    // view segment
    > tr.view {
      td, th {cursor: pointer;}
      td:first-child, 
      th:first-child { 
        position: relative;
        padding-left:20px;
        &:before {
          position: absolute;
          top:50%; left:5px;
          width: 9px; height: 16px;
          margin-top: -8px;
          font: 16px fontawesome;
          color: #999;
          transition: all .3s ease;
        }
      }
      &.open {
        td:first-child, th:first-child {
          &:before {
            transform: rotate(-180deg);
            color: #333;
          }
        }
      }
    }
  
    // fold segment
    > tr.fold {
      display: none;
      &.open { display:table-row; }
    }
  }
}



// fold content 
.fold-content {
  padding: .5em;
  h3 { margin-top:0; }
  > table {
    border: 2px solid #ccc;
    > tbody {
      tr:nth-child(even) {
        background: #eee;
      }
    }
  }
}