page-validasi {
	.valid{
		position: relative;
		top : 26%
	}
	.toolbar-md{
		min-height:40px;
	}
	.toolbar-background{
		background: #fff
	}
	.gede{
		font-size : 18px;
	}
	.center-bottom{
		position: fixed;
	    top: 76%;
	    width: 90%;
	}
	.setsize{
		width: 50% !important;
	}
}
