<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Pembayaran</title>
    </head>
    <body>
      <ul id="add1" class="dropdown-content">
        <li class="center"><b>Tambah</b></li>
        <li class="divider"></li>
        <li><a href="/">Tambah Menu</a></li>
        <li><a href="/koki">Tambah Koki</a></li>
      </ul>

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper teal">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#!" class="brand-logo">GORESTO</a>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-button" href="#" data-activates="add1"><i class="large material-icons">add</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- /end navbar -->

      <!-- content -->
      <div id="main">
        <div class="row">
          <!-- side menu -->
          <div class="side-menu">
            <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
              <li>
                <div class="user-view">
                  <div class="background">
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <a href="#!user" class="a"><img class="circle responsive-img valign profile-image" src="images/avatar.jpg"></a>
                    </div>
                    <div class="col s8">
                      <a class='btn-flat white-text profile-btn non-pading' href='#'>{{name}}</a>
                      <span class="white-text email">Pemilik Restoran</span>
                    </div>
                  </div>
                </div>
              </li>
              <li><a class="waves-effect" href="/"><i class="material-icons margin-icon">restaurant</i>Data Menu</a></li>
              <li><a class="waves-effect" href="/koki"><i class="material-icons margin-icon">person</i>Data Koki</a></li>
              <li><a class="waves-effect" href="/pembuatan"><i class="material-icons margin-icon">schedule</i>Pembuatan</a></li>
              <li><a class="waves-effect" href="/pesanan-masuk" ><i class="material-icons margin-icon">today</i>Pesanan Masuk</a></li>
              <li class="active"><a class="waves-effect" href="/pembayaran"><i class="material-icons margin-icon">attach_money</i>Pembayaran</a></li>
              <li><a class="waves-effect" href="/meja"><i class="material-icons margin-icon">accessible</i>Manage Meja</a></li>
              <li><a class="waves-effect" href="/menuSelesai"><i class="material-icons margin-icon">send</i>Antar Pesanan</a></li>
              <li><a class="waves-effect" href="/restoran"><i class="material-icons margin-icon">settings</i>Pengaturan</a></li>
              <!-- <li><div class="divider"></div></li>
              <li><a class="subheader">Subheader</a></li> -->
              <li><a class="waves-effect" href="/logout"><i class="material-icons margin-icon">arrow_forward</i>logout</a></li>
            </ul>
          </div>
          <!-- /end side menu -->

          <!-- Teal page Content -->
          <div class="main">
            <div class="row">
              <div class="col s12 m11">
                <table class="openTable">
                  <thead>
                    <tr>
                        <th class="center-align">No Meja</th>
                        <th class="center-align">Nama Pemesan</th>
                        <th class="center-align">Total Harga</th>
                        <th class="center-align">Cetak Struk</th>
                        <th class="center-align">Status Pesanan</th>
                        <th class="center-align">Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    {%for Data in order%}
                    <tr class="collaps" id="{{Data.idOrder}}">
                      <td class="center-align">{{Data.noMeja}}</td>
                      <td class="center-align">{{Data.name}}</td>
                      <td class="center-align">Rp. {{Data.price}}</td>
                      <td class="center-align noTouch"><a class="waves-effect waves-light btn cetakButton" id="{{Data.idOrder}}"><i class="material-icons right">print</i>CETAK</a></td>
                      {%if Data.isBayar == false%}
                      <td class="center-align">Belum bayar</td>
                      <td class="center-align noTouch"><a class="btn disabled" id="{{Data.idOrder}}">Telah Bayar</a></td>
                      {%elif Data.isBayar == true%}
                      <td class="center-align">Pemesan Request Bayar</td>
                      <td class="center-align noTouch"><a class="waves-effect waves-light btn hapus" id="{{Data.idOrder}}">Telah Bayar</a></td>
                      {%endif%}
                    </tr>
                    <tr class="collaps-body {{Data.idOrder}}" hidden>
                      <td colspan="6">
                        <h5>Detail pesanan</h5>
                        <table>
                          <thead>
                            <tr>
                              <th>Nama Pesanan</th>
                              <th>Jumlah</th>
                              <th>Harga</th>
                            </tr>
                          </thead>
                          <tbody>
                            {%for detail in Data.data%}
                            <tr>
                              <td>{{detail.nama}}</td>
                              <td>{{detail.qty}}</td>
                              <td>{{detail.price}}</td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
          </div>
          <!-- end Teal page content -->
        </div>
      </div>
      
      <!-- end content -->

      <!-- Modal Structure -->

      
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/goresto.js"></script>
      <script type="text/javascript">
        $(function () {
          var order = {{ order | dump | safe}}
          var idOwner = {{ idOwner | dump | safe }}
          var socket = io();
          var cetakOrder = ""
          socket.on('toastBayar'+idOwner,function(msg){
            location.reload()
          })
          $('.hapus').click(function(){
            x = confirm('apakah anda yakin ?')
            if(x){
              var idOrder = $(this).attr('id')
              $.post('http://localhost:3000/hapus-order',{idOrder : idOrder},function(data){
                $('#'+idOrder).fadeOut(300, function(){ $(this).remove();});
              })
            }
          })
          $('.cetakButton').click(function(){
            var getID = $(this).attr('id')
            for(var i=0;i<order.length;i++){
              if(order[i].idOrder == getID){
                cetakOrder = order[i]
                break;
              }

            }
            var print = `<table style="width:100%;text-align:center; border:1px solid black;">
                          <thead>
                            <tr style="border:1px solid black;">
                                <th style="border:1px solid black; padding:20px 0 20px 0">No Meja</th>
                                <th style="border:1px solid black; padding:20px 0 20px 0">Nama Pemesan</th>
                                <th style="border:1px solid black; padding:20px 0 20px 0">Total Harga</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr style="border:1px solid black;">
                              <td style="border:1px solid black; padding:20px 0 20px 0">`+cetakOrder.noMeja+`</td>
                              <td style="border:1px solid black; padding:20px 0 20px 0">`+cetakOrder.name+`</td>
                              <td style="border:1px solid black; padding:20px 0 20px 0">Rp. `+cetakOrder.price+`</td>
                            </tr>
                          </tbody>
                        </table>
                        <h5>Detail pesanan</h5>
                        <table style="width:100%;text-align:center; border:1px solid black;">
                          <thead>
                            <tr style="border:1px solid black;">
                              <th style="border:1px solid black; padding:20px 0 20px 0">Nama Pesanan</th>
                              <th style="border:1px solid black; padding:20px 0 20px 0">Jumlah</th>
                              <th style="border:1px solid black; padding:20px 0 20px 0">Harga</th>
                            </tr>
                          </thead>
                          <tbody>`
            var appendisi
            for(var i=0;i<cetakOrder.data.length;i++){
              appendisi = `<tr style="border:1px solid black;">
                          <td style="border:1px solid black; padding:20px 0 20px 0">`+cetakOrder.data[i].nama+`</td>
                          <td style="border:1px solid black; padding:20px 0 20px 0">`+cetakOrder.data[i].qty+`</td>
                          <td style="border:1px solid black; padding:20px 0 20px 0">`+cetakOrder.data[i].price+`</td>
                          </tr>`
              print = print+appendisi
            }
            print = print+'</tbody></table>'
            console.log(print)
            w = window.open()
            w.document.write(print)
            w.print()
            w.close()
          })
        });
        var temp = 0;
        $(document).on("click", "table > tbody > tr.collaps > td:not(.noTouch)", function(e) {
          temp = $(this).parent().attr('id')
          $('.'+temp).toggle();
        });
      </script>
    </body>
  </html>