<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Pesanan Masuk</title>
    </head>
    <body>
      <ul id="add1" class="dropdown-content">
        <li class="center"><b>Tambah</b></li>
        <li class="divider"></li>
        <li><a href="/">Tambah Menu</a></li>
        <li><a href="/koki">Tambah Koki</a></li>
      </ul>

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper teal">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#!" class="brand-logo">GORESTO</a>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-button" href="#" data-activates="add1"><i class="large material-icons">add</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- /end navbar -->

      <!-- content -->
      <div id="main">
        <div class="row">
          <!-- side menu -->
          <div class="side-menu">
            <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
              <li>
                <div class="user-view">
                  <div class="background">
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <a href="#!user" class="a"><img class="circle responsive-img valign profile-image" src="images/avatar.jpg"></a>
                    </div>
                    <div class="col s8">
                      <a class='btn-flat white-text profile-btn non-pading' href='#'>{{name}}</a>
                      <span class="white-text email">Pemilik Restoran</span>
                    </div>
                  </div>
                </div>
              </li>
              <li><a class="waves-effect" href="/"><i class="material-icons margin-icon">restaurant</i>Data Menu</a></li>
              <li><a class="waves-effect" href="/koki"><i class="material-icons margin-icon">person</i>Data Koki</a></li>
              <li><a class="waves-effect" href="/pembuatan"><i class="material-icons margin-icon">schedule</i>Pembuatan</a></li>
              <li class="active"><a class="waves-effect" href="/pesanan-masuk" ><i class="material-icons margin-icon">today</i>Pesanan Masuk</a></li>
              <li><a class="waves-effect" href="/pembayaran"><i class="material-icons margin-icon">attach_money</i>Pembayaran</a></li>
              <li><a class="waves-effect" href="/meja"><i class="material-icons margin-icon">accessible</i>Manage Meja</a></li>
              <li><a class="waves-effect" href="/menuSelesai"><i class="material-icons margin-icon">send</i>Antar Pesanan</a></li>
              <li><a class="waves-effect" href="/restoran"><i class="material-icons margin-icon">settings</i>Pengaturan</a></li>
              <!-- <li><div class="divider"></div></li>
              <li><a class="subheader">Subheader</a></li> -->
              <li><a class="waves-effect" href="/logout"><i class="material-icons margin-icon">arrow_forward</i>logout</a></li>
            </ul>
          </div>
          <!-- /end side menu -->

          <!-- Teal page Content -->
          <div class="main">
            <div class="row">
              <div class="col s12 m11">
                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">
                      <div class="col s6">Open Orders</div>
                      <div class="col s6 right-align countdown"></div>
                    </div>
                    <div class="collapsible-body">
                       <table class="openTable">
                        <thead>
                          <tr>
                              <th class="center-align">No Meja</th>
                              <th class="center-align">Nama Pemesan</th>
                              <th class="center-align">Total Harga</th>
                              <th class="center-align">Validasi</th>
                          </tr>
                        </thead>

                        <tbody>
                          {%for Data in order%}
                          {%if Data.status !='closed'%}
                          <tr class="collaps" id="{{Data.idOrder}}">
                            <td class="center-align">{{Data.noMeja}}</td>
                            <td class="center-align">{{Data.name}}</td>
                            <td class="center-align">Rp. {{Data.price}}</td>

                            {%if Data.isAuth == false%}
                            <td class="center-align noTouch">
                              <a href="#" class="needValid" id="{{Data.idOrder}}">Validasi</a> / 
                              <a href="#alasanTolak" class="modal-trigger tolakPesanan" id="{{Data.idOrder}}">tolak</a>
                            </td>
                            {%else%}
                            <td class="center-align">Valid</td>
                            {%endif%}
                          </tr>
                          <tr class="collaps-body {{Data.idOrder}}" hidden>
                            <td colspan="4">
                              <h5>Detail pesanan</h5>
                              <table>
                                <thead>
                                  <tr>
                                    <th>Nama Pesanan</th>
                                    <th>Jumlah</th>
                                    <th>Harga</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {%for detail in Data.data%}
                                  <tr>
                                    <td>{{detail.nama}}</td>
                                    <td>{{detail.qty}}</td>
                                    <td>{{detail.price}}</td>
                                  </tr>
                                  {%endfor%}
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          {%endif%}
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      <div class="col s12">Closed Orders</div>
                    </div>
                    <div class="collapsible-body">
                       <table class="closedTable">
                        <thead>
                          <tr>
                              <th class="center-align">No Meja</th>
                              <th class="center-align">Nama Pemesan</th>
                              <th class="center-align">Total Harga</th>
                              <th class="center-align">Status</th>
                          </tr>
                        </thead>

                        <tbody>
                          {%for Data in order%}
                          {%if Data.status =='closed'%}
                          <tr class="collaps" id="{{Data.idOrder}}">
                            <td class="center-align">{{Data.noMeja}}</td>
                            <td class="center-align">{{Data.name}}</td>
                            <td class="center-align">Rp. {{Data.price}}</td>
                            {%if Data.isAuth == false%}
                            <td class="center-align">ditolak</td>
                            {%else%}
                            <td class="center-align">{{Data.statusOrder}}</td>
                            {%endif%}
                          </tr>
                          <tr class="collaps-body {{Data.idOrder}}" hidden>
                            <td colspan="4">
                              <h5>Detail pesanan</h5>
                              <table>
                                <thead>
                                  <tr>
                                    <th>Nama Pesanan</th>
                                    <th>Jumlah</th>
                                    <th>Harga</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {%for detail in Data.data%}
                                  <tr>
                                    <td>{{detail.nama}}</td>
                                    <td>{{detail.qty}}</td>
                                    <td>{{detail.price}}</td>
                                  </tr>
                                  {%endfor%}
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          {%endif%}
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
          <!-- end Teal page content -->
        </div>
      </div>
      
      <!-- end content -->

      <!-- Modal Structure -->
      <div id="alasanTolak" class="modal">
        <div class="modal-content">
          <h4>Alasan menolak</h4>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="alasan" class="materialize-textarea"></textarea>
              <label for="alasan">Alasan</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat tolak">OK</a>
        </div>
      </div>
      
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/goresto.js"></script>
      <script type="text/javascript">
        $(function () {
          var order = {{ order | dump | safe}}
          var countdown = 0;
          checkOpen = false
          for(var i =0;i<order.length;i++){
            if(order[i].status == "open"){
              if(order[i].timeOrder <=countdown || countdown==0)
                countdown = order[i].timeOrder
                countdown = new Date(Date.parse(countdown))
            }
          }
          for(var i =0;i<order.length;i++){
            if(order[i].status == "open"){
              checkOpen = true;
              break;
            }
          }
          if(countdown!=0){
            countdown.setHours(countdown.getHours()+7)
            countdown.setMinutes(countdown.getMinutes()+1)
          }
          var x = setInterval(function(){
            var now = new Date()
            var distance = countdown - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            $('.countdown').html(minutes + "m " + seconds + "s ");
            if (distance < 0 && checkOpen == true) {
              $('.countdown').html("No Menu");
              location.reload();
            }
            else if(distance < 0 && checkOpen == false){
              clearInterval(x);
              $('.countdown').html("No Menu");
            }
          },1000)



          var idOwner = {{ idOwner | dump | safe }}
          var socket = io();
          $(document).on("click", '.needValid',function(){
            x = confirm('Apakah anda yakin ?')
            if(x){
              var getID = $(this).attr('id')
              if($(this).text()=="Validasi"){
                socket.emit('isAuth',{isAuth:true,idOwner: idOwner, idOrder : getID})
                $(this).parent().removeClass('noTouch')
                $(this).parent().html('Valid')
              }
              else{
                socket.emit('notAuth',{idOwner: idOwner, idOrder : getID})

                $('#'+getID).fadeOut('normal',function(){
                  $(this).remove()
                })
              }
            }
            
          })
          var idOrder = 0
          $(document).on('click','.tolakPesanan',function(){
            idOrder = $(this).attr("id")
          })
          $(document).on('click','.tolak',function(){
            console.log(idOrder)
            socket.emit('notAuth',{idOwner: idOwner, idOrder : idOrder,alasan : $('#alasan').val()})
            $('#'+idOrder).fadeOut('normal',function(){
              $(this).remove()
            })
          })
          socket.on('toastBayar'+idOwner,function(msg){
            var $toastContent = $('<span>Pelanggan request struct</span>').add($('<a href="/pembayaran" class="btn-flat toast-action">check sekarang</a>'));
            Materialize.toast($toastContent, 3000);
          })
          socket.on(idOwner,function(msg){
            var $toastContent = $('<span>anda mendapatkan pesanan baru</span>').add($('<a href="/pesanan-masuk" class="btn-flat toast-action">check sekarang</a>'));
            Materialize.toast($toastContent, 3000);
            var appendOrder = `<tr class="collaps" id="`+msg.pesan.idOrder+`">
                                <td class="center-align">`+msg.pesan.noMeja+`</td>
                                <td class="center-align">`+msg.pesan.name+`</td>
                                <td class="center-align">Rp. `+msg.pesan.price+`</td>
                                <td class="center-align noTouch"><a href="#" class="needValid" id='`+msg.pesan.idOrder+`'>Validasi</a> / <a href="#alasanTolak" class="modal-trigger tolakPesanan" id='`+msg.pesan.idOrder+`'>tolak</a></td>
                              </tr>
                              <tr class="collaps-body `+msg.pesan.idOrder+`" hidden>
                                <td colspan="4">
                                  <h5>Detail pesanan</h5>
                                  <table>
                                    <thead>
                                      <tr>
                                        <th>Nama Pesanan</th>
                                        <th>Jumlah</th>
                                        <th>Harga</th>
                                      </tr>
                                    </thead>
                                    <tbody class='`+msg.pesan.idOrder+'allMenu'+`'>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>`
            $('table.openTable > tbody').append(appendOrder);
            msg.pesan.data = JSON.parse(msg.pesan.data)
            for(var i =0;i<msg.pesan.data.length;i++){
              $('.'+msg.pesan.idOrder+'allMenu').append('<tr><td>'+msg.pesan.data[i].nama+'</td><td>'+msg.pesan.data[i].qty+'</td><td>'+msg.pesan.data[i].price+'</td></tr>')
            }
            if(msg.pesan.timeOrder <= countdown || countdown == 0){
              countdown = msg.pesan.timeOrder
              checkOpen = true
              countdown = new Date(Date.parse(countdown))
              countdown.setMinutes(countdown.getMinutes()+1)
              var x = setInterval(function(){
                var now = new Date()
                var distance = countdown - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                $('.countdown').html(minutes + "m " + seconds + "s ");
                if (distance < 0 && checkOpen == true) {
                  $('.countdown').html("No Menu");
                  location.reload();
                }
                else if(distance < 0 && checkOpen == false){
                  clearInterval(x);
                  $('.countdown').html("No Menu");
                }
              },1000)
            }
          })
        });
        var temp = 0;
        $(document).on("click", "table > tbody > tr.collaps > td:not(.noTouch)", function(e) {
          temp = $(this).parent().attr('id')
          $('.'+temp).toggle();
        });
      </script>
    </body>
  </html>